export(est_null_model)
export(gen_rand_order)
export(outname_fit)
export(stepdown)
export(twoarm_sim)
export(setParallelCRT)
export(simpleLM)
importFrom(Rcpp,sourceCpp)
importFrom(methods,is)
importFrom(stats,as.formula)
importFrom(stats,coef)
importFrom(stats,model.matrix)
importFrom(stats,rnorm)
importFrom(stats,rpois)
useDynLib(crctStepdown, .registration = TRUE)
